.body{
    position: relative;
}
.leftslide{
    width: 19%;
    position: absolute; 
      /* background-color:#49515b;    */
}
.leftslidetop{
      display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 0px 4px #3e3838;
    background-color:#49515b; 
}
.leftslidebutton{
    width: 100%;
    height: 680px;
    overflow-y: scroll;
    scrollbar-color:rgb(110, 109, 109) #4d555e;
    scrollbar-width:thin;
    scroll-behavior: smooth;
    background-color:#49515b;
}
.bodyslide{
    /* border: 1px solid black; */
    width: 80%;
    height: 700px;
    position: absolute;
    top: 82px;
    right: 0px;
    background-color: #efefef;
}
.leftslidimg img{
    width: 66px;
    height: 66px;   
}
.leftslideadmin{
     color: #e1e0da;  
}
.leftslidediv{
display: flex;
font-size: 17px;
 color: rgb(178, 178, 178);
 border-bottom: 0.5px solid #58616c;
 padding: 0px 19px 14px 22px;
}
a{
    text-decoration: none;
}
.leftslidediv:hover{
color: #ededed;
}
.leftslide_div_text{
    margin-left: 23px;
    list-style: none;
}
.leftslid_div_icon{
    list-style: none;
}
hr{
    color: gray;
}
.topslide{
    width: 79.1%;
    height: 65px;
    position: absolute;
    right: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 13px;
    box-shadow: 0px 1px 8px 1px #d1d1d1;
}
.topslideicon{
    font-weight: bold;
    font-size: 20px;
     padding-right: 24px;
}
.topslide_dis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 31px;
}
.topslide_dis_text{
    /* font-size: 25px; */
    font-weight:600;
}
a{
    text-decoration: none;
    color: rgb(178, 178, 178);
}
.topslide_search{
    display: flex;
}
.topslide_dis_image{
    padding: 0px 12px 0px 12px;
}
.topslide_dis_image img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.search{
    width: 180px;
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 18px;
    align-content: center;
    padding-left: 7px;
    color: #b5b5b5;
    background-color: #efefef;
}
.search i{
    padding-right: 10px;
}
.topslide_dis_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #c0bdbd;
    text-align: center;
    align-content: center; 
}
.bodyslide_student{
    font-weight: bold;
    font-size: 20px;
    word-spacing: 5px;
    padding-left: 14px;
    padding-top: 6px;
}
.bodyul{
    display: flex;
    list-style: none;
    padding-left: 13px;
}
.bodyli{
    padding: 7px 12px 7px 12px;
    border-radius: 3px;
    margin: 0px 13px 0px 0px;
    color: #635b5b;
    background-color: #fafafa;
    box-shadow: 0px 0px 2px 0px rgb(121, 118, 118);
    font-weight: 500;
}
.bodyli_search{
    border: 1px solid gray;
    padding: 7px 32px 7px 32px;
    border-radius: 10px;
    background-color: #49515b;
    color: #fafafa;
}
.bodyli_clear{
    padding: 7px 12px 7px 12px;
    font-weight: 700;
    font-size: 14px;
}
.body_search_display{
    display: flex;
    justify-content: space-between;
}
.body_search{
    width: 204px;
    height: 33px;
    box-shadow: 0px 0px 2px 0px rgb(121, 118, 118);
    border-radius: 3px;
    align-content: center;
    color: #6e6868;
    background-color: #fafafa;
    padding-left: 13px;
    margin-left: 13px;
    margin-top: 18px;
}
.body_search_add{
    display: flex;
}
.body_search_student ,.body_search_student_color{
    padding: 7px 9px 7px 9px;
    border-radius: 4px;
    color: #635b5b;
    background-color: #e4ebedb8;
    box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
    margin: 17px;
}
.maintable{
     border-collapse: collapse;
     margin-left: 14px;
}
.tableth1{
    font-weight: 600;
    font-size: 17px;
    color: #ededed;
    padding: 12px 89px 12px 15px;
    font-family: sans-serif;
}
.tabletr2 ,.tabletr3{
    text-align: center;
    font-size: smaller;
    font-weight: 600;
}
.tabletr1{
     background-color: #49515b;
}
.tabletd{
    padding: 14px 0px 14px 0px;
}
.tabletr3{
    background-color: #e4ebedb8;
    box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
}
.tabletr2_active{
    color: green;
}
.tabletr2_inactive{
    color: red;
}
.pending{
    background-color: #49515b;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 11px
}
.approve{
    background-color: green;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 11px;
    margin-left: 0px;
    margin-right: 0px;
}
.rejected{
    background-color: red;
        color: #ededed;
        font-weight: bold;
    font-size: 18px;
    padding: 12px 11px
}
.table{
    align-content: center;
    justify-items: center;
    padding: 30px 0px 0px 0px;
}
td button{
    padding: 5px 7px;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    color: black;
}
.table td .ss{
    background: rgb(40, 185, 27);
    margin-right: 5px;
}
.table td .ss2{
    background:rgb(185, 10, 10);
}
.php_td{
    display: flex;
}
.request{
    color: rgb(226, 221, 221);
}