.bodyslide_table{
    display: grid;
}
.tableth1{
    font-weight: 600;
    font-size: 17px;
    color: #ededed;
    padding: 12px 89px 12px 15px;
    font-family: sans-serif;
}
.tabletr2 ,.tabletr3{
    text-align: center;
    font-size: smaller;
    font-weight: 600;
}
.tabletr1{
     background-color: #49515b;
}
.tabletd{
    padding: 14px 0px 14px 0px;
}
.tabletr3{
    background-color: #e4ebedb8;
    box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
}
.tabletr2_active{
    color: green;
}
.tabletr2_inactive{
    color: red;
}
.pending{
    background-color: #49515b;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 11px
}
.approve{
    background-color: green;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 11px;
    margin-left: 0px;
    margin-right: 0px;
}
.rejected{
    background-color: red;
        color: #ededed;
        font-weight: bold;
    font-size: 18px;
    padding: 12px 11px
}
.table{
    align-content: center;
    justify-items: center;
    padding: 30px 0px 0px 0px;
}
td button{
    padding: 5px 7px;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    color: black;
}
.table td .ss{
    background: rgb(40, 185, 27);
    margin-right: 5px;
}
.table td .ss2{
    background:rgb(185, 10, 10);
}
.php_td{
    display: flex;
}
.request{
    color: rgb(226, 221, 221);
}